<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

<% include ../partials/navbar %>

<main>

    <h1>Change profile</h1>

    <form action="/change" method = "POST" enctype="multipart/form-data">

        <fieldset>

            <span class="profileform">

                <legend>Register</legend>

                <label class="uploadPicture" for="picture">
                
                <img src="../img/icon/add.png" alt="add icon">

                <input type="file" accept="image/x-png,image/gif,image/jpeg" name="profilePic">

                </label>

                <label for="bio">Bio:</label>

                <textarea id="bio" name="bio" maxlength="700" ><%= users.bio %></textarea>

                <label for="artists">Artists:</label>

                <input type="text" id="artists" name="artists">


                <input class="loginButton" type="submit" value="Save changes">

                <button type="submit" href="index" class="cancelButton" formaction="/cancel">Cancel</button>

                    <a href ="/profile/delete/<%= users._id %>">

                    remove

                    </a>

            </span>

        </fieldset>

    </form>
    

</main>
</body>

</html>