<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

<% include ../partials/navbar %>

<main>

    <h1>Change profile</h1>

    <form action="/" method = "POST">

        <fieldset>

            <span class="profileform">

                <legend>Register</legend>

                <label class="uploadPicture" for="picture">
                
                <img src="../img/icon/add.png" alt="add icon">

                <input type="file">

                </label>

                <!--<label for="name">Your name:</label>

                <input type="text" id="name" name="name" value="<%= users.name %>">-->

                <label for="bio">Bio:</label>

                <textarea id="bio" name="bio" maxlength="700" ><%= users.bio %></textarea>

                <label for="artists" name="artists">Artists:</label>

                <input type="text" id="artists">

                <!--<label for="mail">E-mail check:</label>

                <input type="email" id="mail" required>

                <label for="username">Choose a username:</label>

                <input type="text" id="username" required>

                <label for="wachtwoord">Choose a password:</label>

                <input type="password" id="wachtwoord" required>

                <label for="wachtwoord">Check password:</label>

                <input type="password" id="wachtwoord" required>-->

                <input class="loginButton" type="submit" value="Save changes">

                <button href="index" class="cancelButton">Cancel</button>

            </span>

        </fieldset>

    </form>

</main>
</body>

</html>