<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

<% include ../partials/navbar %>

    <main>
        <article>

            <img src="img/placeholder.png" alt="ProfilePictue">

            <span>
           
            <a href= "changeprofile">
            <button class ="adjustbutton"><img src="img/icon/pencil.png" alt="adjust"></button>
            </a>
            </span>

            <h1><%= data.name %>, <%= data.age %></h1>

            <p>
                <%= data.bio %>
            </p>

            <h3>My favorite artists</h3>
                
                <ul class="artists">        
                
                <% for (var index = 0; index < data.artists.length; index++) { %>
                
                <li><%= data.artists[index] %></li>
                
                <% } %>

                </ul>
            
            
            <h3>My hobbies</h3>

        </article>
    </main>
</body>

</html>