<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

<% include ../partials/navbar %>

    <main>
        <article>

            <img src="img/placeholder.png" alt="ProfilePictue">

            <span>
            <a href= "changeprofile">
            <button class ="adjustbutton"><img src="img/icon/pencil.png" alt="adjust"></button>
            </a>
            </span>

            <h1>Andrea, 24</h1>

            <p>
                Hi, i'm Andrea 24 years old, from Amsterdam. In my freetime i like to bla
                bla
            </p>

            <h3>My favorite artists</h3>

            <div>
            <img src="img/icon/pencil.png" alt="adjust">

            </div>
            
            <h3>My hobbies</h3>

        </article>
    </main>
</body>

</html>