<!DOCTYPE html>

<% include partials/head.ejs %>

<body>



    <% include partials/navbar %>

    

    <main>

    <form action="">



        <fieldset>

            <span>

                <legend>Sign in</legend>


                <label for="mail">E-mail:</label>


                <input type="email" id="mail" required>


                <label for="wachtwoord">Password:</label>


                <input type="password" id="wachtwoord" required>


                <input class="loginButton" type="submit" value="Login">

                <button class="registerButton">Not a member yet?</button>

            </span>

        </fieldset>



    </form>

    </main>

</body>

</html>