body,html{
    margin: 0;
    padding:0;
}


*{
    box-sizing: border-box;
    margin: 0;
}

p{
    margin: 0;
}

@font-face {
    font-family: 'Skratch Punk';
    font-style: normal;
    font-weight: normal;
    src: local('Skratch Punk'), url('../font/Skratch_Punk.woff') format('woff');
}

@font-face {
    font-family: 'VTC FuzzyPunkySlippers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('VTC FuzzyPunkySlippers Regular'), url('../font/Skratch_Punk.woff') format('woff');
}

h1,h2,h3,h4,h5,h6{

    font-family: 'Skratch Punk';
    margin: 0;
}

p{
    font-family: 'Roboto';
}

h1{

    font-size: 2rem;

}

nav{

    background-color: #e6086f;
    width: 100%;
    padding-top: .1rem;
    padding-bottom: .1rem;
    position: fixed;
    z-index: 99;
    
}

ul{
    padding: 0;
    display: flex;
    color: white;
    list-style-type: none;
    justify-content: space-between;
}

ul li:first-child{

    margin-left: 1rem;

}

ul li:last-child{

    margin-right: 1rem;

}

a img{
    width: 3.5rem;
}

a img :last-child{
    width: 1rem;
}

main{
    padding-top: 3.3rem;    
}

.profileform{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

form{

    max-width: 360px;
}


fieldset{
    margin:0;
    padding:0;
    border: none;
}

label{
    margin-bottom: .5rem;
}

input{

    background-color: #F3F3F3;
    border-radius: 4px;
    border-style: none;
    margin-bottom: 1rem;
    height: 2.5rem;
  
    font-size: 1.2rem;

}

.registerButton{

    background-color: #0183D9;
    color: white;
    height: 3rem;
    font-size: 1.2rem;

}

.loginButton{

    background-color: #66D43F;
    color: white;
    height: 3rem;   
    font-size: 1.2rem;
}

button{

    margin-top: 1rem;
    border-radius: 4px;
    border-style: none;

}

.eventCard{

    border-radius: 1rem;
    width: 45%; 
    margin-top:1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventCard img{

    width: 100%;
    border-radius: .4rem .4rem 0 0;
    object-fit: cover;
}

.eventCard section{

    border-radius: 0 0 .4rem .4rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: -6.5rem;
    position: relative;

}

div{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    flex-wrap: wrap;

}

.eventButton{

    width: 100%;
    background-color: #66D43F;
    border-radius: 0 0 .4rem .4rem;
    color: white;
    padding: 1rem 0rem 1rem;
    margin-top: 0;

}

.adjustbutton{

    margin-top: -3rem;
    background-color: #66D43F;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adjustbutton img{

    width: 3.5rem;
    padding: .8rem;

}

span{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}