<nav>

    <ul>

        <li><a href ="/logout"><img src="../img/icon/punkaccount.png" alt="Account icon"></a></li>
        <li><a href ="/"><img id="logo" src="../img/icon/anarchyicon.png" alt="Home icon"></a></li>
        <li><a href ="/"><img src="../img/icon/menuicon.png" alt="Menu icon"></a></li>

    </ul>

</nav>

